@use './variaveis.scss' as *;
.barra{
    width: 100vw;
    height: 40px;
    background-color: $font-color;

    ul{
        font-size: $font-size;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1rem;
        margin-right: 2em;
        li{
            list-style: none;
            color: $background;
            text-decoration: none;
            a{
                text-decoration: none;
                color: white;
            }
        }
        
    }
}