@use './variaveis.scss' as *;
.container{
    background-color: $font-color;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .titulo{
        font-size: 26px;
        color:$background;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}