@use './variaveis.scss' as *;
// Consertar responsividade
.cartao{
    border-radius: $borda-arredondada;
    padding: 1rem;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    flex: 1 1 320px;
    
    button{
        color: $font-color;
        background-color: $button;
        border: none;
    }button:hover{
        background-color: $background-coluna;
        color: $link-color;
    }
    ul{
        list-style-type: none;
        color: $font-color;

    }
    select,option{
        border: none;
        border-radius: $borda-arredondada;
    }
}
