@use './variaveis.scss' as *;
// Consertar responsividade
.cartao{
    border-radius: $borda-arredondada;
    padding: 1rem;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 320px;
    
}

.cartao ul{
    list-style-type: none;
}
.cartao button{
    color: $font-color;
    background-color: $button;
}