@use './variaveis.scss' as *;
// Consertar responsividade
.cartao{
    background-color: $background;
    border-radius: $borda-arredondada;
    padding: 1rem;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 320px
}