@use './variaveis.scss' as *;
// Consertar responsividade
.coluna{
    background-color: $background-coluna;
    border:1px solid cornflowerblue;
    border-radius: $borda-arredondada;
    padding: 1rem;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 320px;
    margin-left: 20px;
}