@use './cabecalho.scss';
@use './variaveis.scss' as *;
@use './barraNavegacao.scss';
@use './tarefa';
@use './quadro.scss';
@use './cadastro.scss';


body{
  background-color: $background; 
}

h1 {
    text-align: center;
    color: black;
    font-family: $font-primary;
    font-size: 2rem;
}
