@use './variaveis.scss' as *;
// Consertar responsividade
.quadro{
    background-color: $accent;
    width: 100vw;
    padding: 1rem;
    min-height: 400px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1 1 320px
}