$background: white;
$background-coluna: lightgreen;
$cor-destaque: crimson;
$font-color: brown;
$font-size: 16px;
$link-color: white;

$back: #f4f7f9;
$primary: #1a2b3c;
$secondary: #7c8c9a; 
$accent: #00647A;
$text-dark: $primary; 
$text-light: #eceaea;
$font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$button:orange;
$borda-arredondada: 6px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $background;
    color: $font-color;
    font-size: $font-size;
}