$background: white;
$card: #ffe9ab;
$cor-destaque: #96ceff;
$botao:orange;
$cor-botao-hover: #893E3E;

$borda-arredondada: 6px;

$font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-color: black;
$font-size: 16px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $background;
    color: $font-color;
    font-size: $font-size;
}